body{
    background-image: var(--body-bg);
    background-size: cover;
    background-position: center;
}

header,footer{
    background-color: var(--primary-color);
}
footer *{
    color: var(--secendery-color);
}

