:root{
    --primary-color:black;
    --secendery-color:white;
    --logo:url('logo');
    --body-bg:url('https://snyk.io/advisor/images/snyk-icon-intellij.svg');
}
body{
    background-image: var(--body-bg);
    background-size: cover;
    background-position: center;
}

header,footer{
    background-color: var(--primary-color);
}
footer *{
    color: var(--secendery-color);
}

