@import url(https://raw.githack.com/hesham156/choses/main/heshamAhmed.css);
.logo a {
    background-image: var(--logo)  !important;
    scale: 1.3;
    }
.footer-main .container:before,.sub-nav-header::before,.login-form .panel-title::before{
     background-image: var(--logo) !important;
    }
body.store-home:after,body.store-home:before {
    background-image: var(--logo) !important;
    display:none !important;
    }
.footer-main {
   background: linear-gradient(90deg,transparent,#0b101e,#0a0f1d),var(--my-logo);
   background-color: #0a0f1d!important
   }
body, section.section {
   background-image: unset!important;
   }
.product .product-footer .product-add{
   margin-bottom: 0 !important;
   border-radius: 1px 0 12px 12px!important;
   background: var(--bg-color) !important;
   }
.product-title {
   color: #363062!important;
   line-height: 27px !important;
   }
.section-header .section--title span {
   color: #fff !important;
   }
.banner img{
   margin: 0;
   width: 100%;
   border-radius: 0;
   }
.container.banner {
   width: 100%;
   margin: 0;
   padding: 0;
   }
.sub-nav ,.site-header{
   /* background-image: url(https://i.ibb.co/6RrQ8WT/background.png) !important;
   animation: pattern-anim 50s infinite;*/
   background: var(--bg-color) !important;
   border: 0;
   }
.sub-nav .main-menu>li>a {
   color: #fff !important;
   font-size: 18px !important;
   font-weight: 600;
   margin: 5px !important;
   }
.login-link, .contact-link, .notification-link, .store-contact a, .store-header-min .back-icon, .circle-action, #cl_toggle{
   background: var(--bg-color-2) !important;
   }
.footer-main ,.footer-sub{
   background-repeat: no-repeat !important;
   background: #6689c1 !important;
   }
a.login-link.circle-action.dropdown-store-header {
   display: inline-block !important;
   }
.container.p-0.px-md-3 {
   width: 100%;
   padding: 0;
   margin: 0;
   }
.sub-nav__close svg { 
   fill: #0fbbbb;
   }
.sub-nav-header a {
   color: #ffffff!important;
   }
.logo a{
   height: 76px;
   width: 101px;
   }
section,.section-header .section--title,.section-header .section--title span,.section-actions {
   background-color: var(--bg-color) !important;
   }
.site-header, .main-slider img, body.salla-theme_4 .section-header .section--title span, body > section.u-white.py-4 > div > div:before, .a2a_kit.a2a_kit_size_32.a2a_default_style {
   background: var(--bg-color) !important;
   /* background: linear-gradient(to left,var(--main-color),var(--main-text-color2))!important; 
   background-image: url(https://i.ibb.co/6RrQ8WT/background.png) !important;
   animation: pattern-anim 50s infinite;*/
   }
.footer-sub {
   background: #0a0f1d !important;
   }
.footer-sub p:before{
   color: #fff;
   }
.site-header, .main-slider img, body.salla-theme_4 .section-header .section--title span, body > section.u-white.py-4 > div > div:before, .a2a_kit.a2a_kit_size_32.a2a_default_style {
   background: unset;
   }
.footer-sub p:before { 
   content: var(--my-name);
   }
.site-header .header-wrapper .sub-nav__menu svg {
   fill: #ac1325!important;
   filter: unset;
   }
body{
   background-color: #e0e7f3 !important;
   }
.login-title,.text-muted {
   color: #0a0f1d;
   }
.sub-nav .main-menu li.sub-menu-header.categories-holder>ul.store-categories>li:nth-child(n)>a:before,.section-header:before{
   display:none;
   }
.sub-nav-header a.login-link {
   background: #aba487 !important;
   }
header.site-header.sticky {
   background: var(--bg-color) !important;
   }
body.salla-theme_1 #sort {
   background-color: var(--bg-color);
   }
.product-details__title {
   color: #ffffff!important;
   }
.product-detials__desc * {
   color: #fff !important;
   }
.product-price, .product-details__price, .product-price:hover {
   color: #6689c1!important;
   }
.breadcrumb>.active {
   color: #6689c1 !important;
   }
h2.section--title {
   color:white;
   }
.product-details__hot {
   color: white !important;
   }
.product-cart,#cart-content .cart-total-box,.product-form, .product-options,.footer-sub {
   background: #0a0f1d  !important;
   }
.product-cart a.pc-title.product-name.d-block.w-full,span.cart-total-title.no-margin,.product-option-name{
   color:#fff  !important;
   }
.thumbnail,.panel, .thumbnail,.thumbnail.page-box,.thumbnail.page-box span {
   background-color: var(--bg-color) !important;
   }
.footer-item:first-of-type .footer-title {
   display: none;
   }
li:before {
   color: #fe914c !important;
   }
.col-sm-4 {
   width: 33.33333333%;
   }
.section-products .container {
   background-color: #ffffff00!important;
   border: 0px solid #fff!important;
   }
section.section,.section-header .section--title,.section-actions,.breadcrumb-container.mobile-webview-hide {
   background-color: #e0e7f3 !important;
   }
p.product-details__price * {
   color: white !important;
   }
.product-add {
   animation: unset;
}
@keyframes signal {
    0% {
        box-shadow: 0 0 0 0 #dfd8fb;
    }

    100% {
        box-shadow: 0 0 0 10px #fff
    }
}
@keyframes pattern-anim {
    0% {
    background-position-y: 0;
}
100% {
    background-position-y: 800px;
}
    }
